@page
@model HOFORTaskPlanner.Pages.Contact.GetContactsModel
@{
}
<a class="btn btn-hofor" asp-page="CreateContact">Opret ny kontakt</a>

@if (Model.Contacts.Count != 0)
{
    <table class="table table-striped text-center">
        <thead class="table-hofor">
            <tr>
                <th>
                    Fornavn
                </th>
                <th>
                    Efternavn
                </th>
                <th>
                    Telefon Nr.
                </th>
                <th>
                    E-mail
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>
                        @contact.FirstName
                    </td>
                    <td>
                        @contact.LastName
                    </td>
                    <td>
                        @contact.PhoneNumber
                    </td>
                    <td>
                        @contact.Email
                    </td>
                    <td>
                        <a class="btn btn-hofor" type="button" data-toggle="tooltip" title="Details" asp-page="EditContact" asp-route-id="@contact.ContactId"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}