@page
@using HOFORTaskPlanner.Models
@using System.Security.Claims
@model HOFORTaskPlanner.Pages.User.GetUsersModel
@{
    ViewData["Title"] = "Brugerliste";
}
<script>
    _handleKeyDown: function(e) {
        if (e.key === 'Enter') {
            this.form.submit();
        }
        </script>

<div style="display: flex; height: 35px; justify-content: space-between; width: 100%">
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
            <a asp-page="GetUsers" asp-route-CurrentPage="1" class="page-link"> <i class="fa fa-fast-backward"></i></a>
        </li>

        <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
            <a asp-page="GetUsers" asp-route-CurrentPage="@(Model.CurrentPage - 1)" class="page-link"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
            <a asp-page="GetUsers" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="fa fa-angle-right"></i></a>
        </li>

        <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
            <a asp-page="GetUsers" asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="fa fa-fast-forward"></i></a>
        </li>
        <li class="page-item ml-2">
            <a class="page-link">@Model.CurrentPage</a>
        </li>
        <li class="page-item">
            <a class="page-link">of</a>
        </li>
        <li class="page-item">
            <a class="page-link">@Model.TotalPages pages</a>
        </li>
        <div class="col-4">
            <form asp-page-handler="Search" method="post" class="form-inline">
                <input asp-page-handler="Search" asp-for="@Model.UserSearch" type="text" class="form-control" style="height: 100%" onchange="_handleKeyDown;" placeholder="Søg efter bruger"/>
            </form>
        </div>
    </ul>


    @if (User.HasClaim(ClaimTypes.Role, "admin"))
    {
        <a class="btn btn-hofor" type="button" data-toggle="tooltip" title="Create user" asp-page="../Admin/CreateUser"><i class="fa-solid fa-plus"></i></a>
    }
</div>

@if (Model.UserList.Count() != 0)
{
    <table class="table table-striped text-center">
        <thead class="table-hofor">
            <tr>
                <th>
                    Fornavn
                </th>
                <th>
                    Efternavn
                </th>
                <th>
                    Displaynavn
                </th>
                <th>
                    Brugertype
                </th>
                <th>
                    Brugerrolle
                </th>
                <th>
                    <form method="post" asp-page-handler="DepartmentFilter">
                        <select asp-for="@Model.UserDepartments" class="text-center" onchange="this.form.submit(); " asp-items="Html.GetEnumSelectList<User.UserDepartments>()">
                            <option>Vælg enhed</option>
                        </select>
                    </form>
                </th>
                <th>
                    Ajour pr.
                </th>
                <th>
                    Aktion
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.UserList)
            {
                <tr>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.DisplayName
                    </td>
                    <td>
                        @user.UserType
                    </td>
                    <td>
                        @user.UserRole
                    </td>
                    <td>
                        @user.UserDepartment
                    </td>
                    <td>
                        @user.LastUpdated.Day/@user.LastUpdated.Month/@user.LastUpdated.Year
                    </td>
                    <td>
                        <a class="btn btn-hofor btn-sm" type="button" data-toggle="tooltip" title="Detail" asp-page="../Assignment/Details" asp-route-id="@user.UserId"><i class="fa fa-list"></i></a>

                        @if (User.HasClaim(ClaimTypes.Role, "admin"))
                        {
                            <a class="btn btn-hofor btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="../Admin/EditUser" asp-route-id="@user.UserId"><i class="fa fa-edit"></i></a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
