@page
@using HOFORTaskPlanner.Models
@model HOFORTaskPlanner.Pages.User.GetUsersModel
@{
}
@if (Model.UserList.Count() != 0)
{
    <table class="table table-striped ">
        <thead class="table-hofor">
        <tr>
            <th>
                UserID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                DisplayName
            </th>
            <th>
                UserType
            </th>
            <th>
                UserRole
            </th>
            <th>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="@Model.User.UserDepartment"></label><br />
                        <select asp-for="@Model.UserDepartments" onchange="this.form.submit(); "asp-items="Html.GetEnumSelectList<User.UserDepartments>()">
                            <option>Choose a department</option>
                        </select>
                    </div>
                </form>

            </th>
            <th>
                LastUpdated
            </th>
            <th>
                Action
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.UserList)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.DisplayName
                </td>
                <td>
                    @user.UserType
                </td>
                <td>
                    @user.UserRole
                </td>
                <td>
                    @user.UserDepartment
                </td>
                <td>
                    @user.LastUpdated.Day/@user.LastUpdated.Month/@user.LastUpdated.Year
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="GetUser" asp-route-id="@user.UserId"><i class="fa fa-edit"></i></a>
                </td>

            </tr>
        }
        </tbody>
    </table>
}