@page
@model HOFORTaskPlanner.Pages.Assignment.DashboardModel
@{
}
<table class="table table-bordered table-striped text-center">
    <tr class="table-dark">
        <th></th>
        <th colspan="@(Model.Users.Count * 2)" scope="colgroup">@Model.UserDepartment</th>
    </tr>
    <tr>
        <th></th>
        @foreach (var user in Model.Users.OrderBy(user => user.UserRole))
        {
            <th colspan="2" class="TableSeperator">@user.UserRole</th>
        }
    </tr>
    <tr>
        <th></th>
        @foreach (var user in Model.Users.OrderBy(user => user.UserRole))
        {
            <th colspan="2" class="TableSeperator">@user.DisplayName</th>
        }
    </tr>
    <tr>
        <th></th>
        @foreach (var user in Model.Users.OrderBy(user => user.UserRole))
        {
            <th scope="col" class="TableSeperatorLeft">Opgaver</th>
            <th scope="col" class="TableSeperatorRight">Timer</th>
        }
    </tr>

    @for (int yearint = DateTime.Now.Year; yearint < DateTime.Now.Year + 2; yearint++)
    {
        @for (int i = 1; i < 13; i++)
        {
            <tr>
                <th>@(Models.TimeReg.AbrMonthName(i))-@yearint</th>
                @foreach (var user in Model.Users.OrderBy(user => user.UserRole))
                {
                    <th scope="col" class="TableSeperatorLeft">@Model.AmountOfAssignmentsForYearAndMonthAndUserId(yearint, i, user.UserId)</th>
                    <th scope="col" class="TableSeperatorRight">@Model.GetTotalHoursByYearAndMonthAndUserid(yearint, i, user.UserId)</th>
                }
            </tr>
        }
    }

</table>