@page
@using HOFORTaskPlanner.Models
@using System.Security.Claims
@using HOFORTaskPlanner.Services
@model HOFORTaskPlanner.Pages.Assignment.GetAssignmentsModel
@{
    ViewData["Title"] = "Opgaveliste";
}
<script>
    _handleKeyDown: function(e) {
        if (e.key === 'Enter') {
            this.form.submit();
        }
        </script>

<div style="display: flex; height: 35px; justify-content: space-between; width: 100%">
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="1" class="page-link"> <i class="fa fa-fast-backward"></i></a>
        </li>

        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="fa fa-angle-right"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowLast? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="fa fa-fast-forward"></i></a>
        </li>
        <li class="page-item ml-2">
            <a class="page-link">@Model.CurrentPage</a>
        </li>
        <li class="page-item">
            <a class="page-link">of</a>
        </li>
        <li class="page-item">
            <a class="page-link">@Model.TotalPages pages</a>
        </li>
        <div class="col-4">
            <form asp-page-handler="DescriptionFilter" method="post">
                <input class="form-control" type="text" list="datalist4" style="height: 100%"asp-for="Description" placeholder="Søg beskrivelse" onchange="_h">
                <datalist id="datalist4">
                    <optgroup label="Descriptions /">
                        @foreach (var description in Model.DescriptionList)
                        {
                            <option value="@description"></option>
                        }
                    </optgroup>
                </datalist>
            </form>
        </div>
    </ul>
    @if (User.HasClaim(ClaimTypes.Role, "admin"))
    {
        <a class="btn btn-hofor" type="button" data-toggle="tooltip" title="Create Assignment" asp-page="CreateAssignment"><i class="fa-solid fa-plus"></i></a>
    }
</div>
@if (Model.AssignmentList.Count() != 0)
{
    <table class="table table-striped text-center">
        <thead class="table-hofor">
            <tr>
                <th>
                    Status
                </th>
                <th>
                    <form method="post">
                        <select asp-for="@Model.AssignmentType" onchange="this.form.submit();" asp-items="Html.GetEnumSelectList<Assignment.AssignmentType>()">
                            <option>Vælg opgave type</option>
                        </select>
                    </form>
                </th>
                <th>
                    Område
                </th>
                <th>
                    Beskrivelse
                <th>
                    Aktion
                </th>
                <th>
                    Styring
                </th>
                <th>
                    Kontakt
                    @*<div>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Kontakt Stigende" asp-page-handler="SortByContact"><i class="fa fa-angle-up"></i></a>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Estimat Aftagende" asp-page-handler="SortByContactDescending"><i class="fa fa-angle-down"></i></a>
                    </div>*@
                </th>
                <th>
                    Est
                    @*<div>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Estimat Stigende" asp-page-handler="SortByEstimate"><i class="fa fa-angle-up"></i></a>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Estimat Aftagende" asp-page-handler="SortByEstimateDescending"><i class="fa fa-angle-down"></i></a>
                    </div>*@
                </th>
                <th>
                    Start
                    @*<div>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Start Stigende" asp-page-handler="SortByStartDate"><i class="fa fa-angle-up"></i></a>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Start Aftagende" asp-page-handler="SortByStartDateDescending"><i class="fa fa-angle-down"></i></a>
                    </div>*@
                </th>
                <th>
                    Slut
                    @*<div>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Slut Stigende" asp-page-handler="SortByEndDate"><i class="fa fa-angle-up"></i></a>
                        <a class="btn-hofor" data-toggle="tooltip" title="Sorter Slut Aftagende" asp-page-handler="SortByEndDateDescending"><i class="fa fa-angle-down"></i></a>
                    </div>*@
                </th>
                <th>
                    Rest
                    @*<a class="btn-hofor" data-toggle="tooltip" title="Sorter Rest Stigende" asp-page-handler="SortByRemaining"><i class="fa fa-angle-up"></i></a>
                    <a class="btn-hofor" data-toggle="tooltip" title="Sorter Rest Aftagende" asp-page-handler="SortByRemainingDescending"><i class="fa fa-angle-down"></i></a>*@
                </th>
                <th>
                    Kommentar
                </th>
                <th style="width: 100px">
                    Rediger
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model.AssignmentList)
            {
                <tr>
                    <td>
                        @assignment.Status
                    </td>
                    <td>
                        @assignment.Type
                    </td>
                    <td>
                        @assignment.Area
                    </td>
                    <td>
                        @assignment.Description
                    </td>
                    <td>
                        @Model.UserDisplayName(assignment.AktionUserId)
                    </td>
                    <td>
                        @Model.UserDisplayName(assignment.ControlUserId)
                    </td>
                    <td>
                        @Model.ContactDisplayName(assignment.ContactId)
                    </td>
                    <td>
                        @assignment.Estimate
                    </td>
                    <td>
                        @assignment.StartDate.Day/@assignment.StartDate.Month/@assignment.StartDate.Year
                    </td>
                    <td>
                        @assignment.EndDate.Day/@assignment.EndDate.Month/@assignment.EndDate.Year
                    </td>
                    <td>
                        @(assignment.Estimate-Model.GetHoursByAssignmentId(assignment.AssignmentId))
                    </td>
                    <td>
                        @assignment.Comment
                    </td>
                    <td>
                        <a class="btn btn-hofor btn-sm" type="button" data-toggle="tooltip" title="Details" asp-page="GetAssignment" asp-route-id="@assignment.AssignmentId"><i class="fa fa-list"></i></a>
                        <a class="btn btn-sm btn-hofor" type="button" data-toggle="tooltip" title="Edit Assignment" asp-page="EditAssignment" asp-route-id="@assignment.AssignmentId"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
