@page
@model HOFORTaskPlanner.Pages.Assignment.GetAssignmentsModel
@{
}
@if (Model.AssignmentList.Count != 0)
{
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    Område
                </th>
                <th>
                    Kontakt
                </th>
                <th>
                    Beskrivelse
                </th>
                <th>
                    Estimat
                </th>
                <th>
                    Start
                </th>
                <th>
                    Slut
                </th>
                <th>
                    Kommentar
                </th>
                <th>
                    Aktion
                </th>
                <th>
                    Styring
                </th>
                <th>
                    Rediger
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model.AssignmentList)
            {
            <tr>
                <td>
                    @assignment.AssignmentId
                </td>
                <td>
                    @assignment.Status
                </td>
                <td>
                    @assignment.Type
                </td>
                <td>
                    @assignment.Area
                </td>
                <td>
                    @assignment.Contact
                </td>
                <td>
                    @assignment.Description
                </td>
                <td>
                    @assignment.Estimate
                </td>
                <td>
                    @assignment.StartDate.Day/@assignment.StartDate.Month/@assignment.StartDate.Year
                </td>
                <td>
                    @assignment.EndDate.Day/@assignment.EndDate.Month/@assignment.EndDate.Year
                </td>
                <td>
                    @assignment.Comment
                </td>
                <td>
                    @if (assignment.AktionUserId != 0)
                    {
                        @Model.AssignmentUser(assignment.AktionUserId).DisplayName
                    }
                    else
                    {
                    <div>N/A</div>
                    }
                    
                </td>
                <td>
                    @if (assignment.ControlUserId != 0)
                    {
                        @Model.AssignmentUser(assignment.ControlUserId).DisplayName
                    }
                    else
                    {
                    <div>N/A</div>
                    }
                </td>
                <td>
                    <li class="list-inline-item">
                        <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit Assignment" asp-page="EditAssignment" asp-route-id="@assignment.AssignmentId">Edit</a>
                    </li>
                </td>
            </tr>
            }
        </tbody>
    </table>
}