@page
@using HOFORTaskPlanner.Models
@using System.Security.Claims
@using HOFORTaskPlanner.Services
@model HOFORTaskPlanner.Pages.Assignment.GetAssignmentsModel
@{
    ViewData["Title"] = "Opgaveliste";
}
<div style="display: flex; height: 35px; justify-content: space-between; width: 100%">
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="1" class="page-link"> <i class="fa fa-fast-backward"></i></a>
        </li>

        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link"><i class="fa fa-angle-left"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="fa fa-angle-right"></i></a>
        </li>
        <li class="page-item  @(!Model.ShowLast? "disabled":"")">
            <a asp-page="GetAssignments" asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="fa fa-fast-forward"></i></a>
        </li>
        <li class="page-item ml-2">
            <a class="page-link">@Model.CurrentPage</a>
        </li>
        <li class="page-item">
            <a class="page-link">of</a>
        </li>
        <li class="page-item">
            <a class="page-link">@Model.TotalPages pages</a>
        </li>
    </ul>
    @if (User.HasClaim(ClaimTypes.Role, "admin"))
    {
        <a class="btn btn-hofor" type="button" data-toggle="tooltip" title="Create Assignment" asp-page="CreateAssignment"><i class="fa-solid fa-plus"></i></a>
    }
</div>
@if (Model.AssignmentList.Count() != 0)
{
    <table class="table table-striped text-center">
        <thead class="table-hofor">
            <tr>
                <th>
                    Status
                </th>
                <th>
                    <form method="post">
                        <select asp-for="@Model.AssignmentType" onchange="this.form.submit();" asp-items="Html.GetEnumSelectList<Assignment.AssignmentType>()">
                            <option>Vælg opgave type</option>
                        </select>
                    </form>
                </th>
                <th>
                    Område
                </th>
                <th>
                    Beskrivelse
                </th>
                <th>
                    Aktion
                </th>
                <th>
                    Styring
                </th>
                <th>
                    Kontakt
                </th>
                <th>
                    Est
                </th>
                <th>
                    Start
                </th>
                <th>
                    Slut
                </th>
                <th>
                    Rest
                </th>
                <th>
                    Kommentar
                </th>
                <th>
                    Rediger
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assignment in Model.AssignmentList)
            {
                <tr>
                    <td>
                        @assignment.Status
                    </td>
                    <td>
                        @assignment.Type
                    </td>
                    <td>
                        @assignment.Area
                    </td>
                    <td>
                        @assignment.Description
                    </td>
                    <td>
                        @Model.UserDisplayName(assignment.AktionUserId)
                    </td>
                    <td>
                        @Model.UserDisplayName(assignment.ControlUserId)
                    </td>
                    <td>
                        @Model.ContactDisplayName(assignment.ContactId)
                    </td>
                    <td>
                        @assignment.Estimate
                    </td>
                    <td>
                        @assignment.StartDate.Day/@assignment.StartDate.Month/@assignment.StartDate.Year
                    </td>
                    <td>
                        @assignment.EndDate.Day/@assignment.EndDate.Month/@assignment.EndDate.Year
                    </td>
                    <td>
                        @(assignment.Estimate-Model.GetHoursByAssignmentId(assignment.AssignmentId))
                    </td>
                    <td>
                        @assignment.Comment
                    </td>
                    <td>
                        <a class="btn btn-hofor btn-sm" type="button" data-toggle="tooltip" title="Details" asp-page="GetAssignment" asp-route-id="@assignment.AssignmentId"><i class="fa fa-list"></i></a>
                        <a class="btn btn-sm btn-hofor" type="button" data-toggle="tooltip" title="Edit Assignment" asp-page="EditAssignment" asp-route-id="@assignment.AssignmentId"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
